{% extends 'base.html' %} {% load static %} {% block content %}
<script>
  fetch("/profile/{{username}}")
    .then((res) => res.json())
    .then((data) => {
      $("#username").html(data.username);
      $("#name").html(data.name);
      $("#bio").html(data.bio);
      $("#profilepic").attr("src", "/static" + data.profilepic);
      data.posts.reverse();
      data.posts.forEach((post) => {
        if (post.image)
          var img = `<img height=400 width=350 src='/static${post.image}'><br>`;
        else var img = "";
        let datetime = new Date(post.timestamp);
        let postElement = `<li>${post.text}&nbsp;
          <a href="/deletepost?post_id=${post.id}">Delete</a>
          <br>${img}${datetime}</li><br><br><br>`;
        $("#posts").append(postElement);
      });
    });
</script>
<div>
  Username:
  <span id="username"></span>
</div>
<div>
  Full name:
  <span id="name"></span>
</div>
<div>
  Bio:
  <span id="bio"></span>
</div>
<img height="120" width="120" id="profilepic" />
<p>Followers: <span id="followers">0</span>&nbsp;&nbsp; Following: <span id="following">0</span></p>
{% if user.is_authenticated and user.username == username %}
<a href="/deleteprofilepic"><button>Delete profile pic</button></a>
<br />
<br />
<h2>Update profile?</h2>

<form action="/setprofilepic/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h4>Upload new image</h4>
  <input type="file" name="image" , required />
  <button type="submit">Upload Image</button>
</form>

<h4>Profile details</h4>
<form action="/updateprofile/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" placeholder="Full Name" name="fullname" />
  <input type="text" placeholder="Bio" name="bio" />
  <input type="file" name="image" />
  <button type="submit">Update</button>
</form>
<br /><br /><br />
<h2>Create Post</h2>
<form action="/createpost/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" placeholder="What is on your mind?" name="text" required />
  <input type="file" name="image" />
  <button type="submit">Post</button>
</form>
{% else %}
<div>
  <a href=""><button>Follow</button></a>
</div>
{% endif %}

<br />
<br />
<br />
<br />
<h2>{{username}}'s posts</h2>
<ul id="posts" style="list-style: none"></ul>

{% endblock %}
